<h1>Editing access group</h1>

<%= render 'form' %>

<%= link_to back_link_html("Return to details of access group"), access_group_path(@access_group) %><br/>
<%= link_to back_link_html("Return to list of access groups"), access_groups_path %>
