<% provide(:title, "Contact Us") %>
<h2>Contact</h2>
<p>This site is under active development by <%= mail_to "michael_nixon@sfu.a", "Michael Nixon"%> at Simon Fraser University, Canada, so please contact him with any technical difficulties you encounter. For more information on movement research, please visit <%= link_to "Moving Stories", "http://movingstories.ca" %>. For more information on the infrastructure development, please visit <%= link_to "mplusm", "http://mplusm.ca"%>.</p>
