<h2>Help!</h2>
<p>This database collects records for motion capture files. They are stored in a hierarchy of Project - Movement Take - Data Track, with Project being the major thematic division, and Movement Take being a temporal division. Project View allows you to browse available data from a top-down, thematic view. Track View provides bottom-up access with an immediate focus on available files.</p>
	
<h3>Using data</h3>
<p>Each project is licensed under different terms, so if you wish to use data, you need to check each project individually. </p>

<h3>Programmatic Access</h3>
<p>The database can be accessed using our <%= link_to "RESTful API", "/apipie"%>. Your API access level is the same as your web account, although
	authentication is required for all access, unlike the public browsing available on this web site.</p>

<h3>Contributing Data</h3>
<p>If you wish to contribute data, please contact an existing user for an account, or the <%= mail_to "michael_nixon@sfu.ca", "site administrator"%> if you don't know any.</p>