<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<%= render partial: 'project', collection: @projects %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
