<% provide(:title, 'Accessible Tracks') %>
<h2>Tracks</h2>

<table class="table table-striped table-bordered" id="tracks-table" data-source="<%= tracks_ajax_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Take</th>
	  	<th>Sensors</th>
			<th>Movers</th>
	  	<th>Technician</th>
			<th>Recording Date</th>	
	  	<th class="nosort nosearch">Tags</th>
    </tr>
  </thead>

  <tbody>
		
  </tbody>
</table>
