body { padding-top: 60px; }
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

img.floater {
	float: left;
	margin-right: 30px;
}

footer a {
  color: #555;
}

footer a:hover {
 /* color: #222;*/
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
			 font-url('glyphicons-halflings-regular.woff') format('woff'), 
			 font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
			 font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

span.input-group-addon {
	cursor: arrow;
}

ul.horizontal-wrapped {
	margin: 0; 
	padding: 0; 
  list-style-type: none; 
	list-style-image: none;
}

ul.horizontal-wrapped li {
	display: -moz-inline-box;
	display:inline-block;
	text-align: center;	
}
ul.horizontal-wrapped li p {
	width: 150px;
}

ul.horizontal-wrapped li img {
display: block;
margin: 0 auto;
}