<footer id="footer" class="container">
	<p><span class="text-muted">&copy; Moving Stories 2012 - <%= Time.now.strftime("%Y") %> All Rights Reserved</span>
	<span class="pull-right">Sponsors go here CANERIE etc.</span></p>
</footer>