<footer id="footer" class="container">
	<p><span class="text-muted">&copy; <a href="http://movingstories.ca">Moving Stories</a> 2012 - <%= Time.now.strftime("%Y") %> All Rights Reserved</span>
	<span class="text-muted credit pull-right">Funding &amp; support by:
		<a href="http://mplusm.ca/" target="_blank">M+M</a>
		<a href="http://www.sshrc-crsh.gc.ca/" target="_blank"><%= image_tag("logosshrc.png", size: "383x32", alt: "SSHRC logo") %></a>
		<a href="http://www.canarie.ca" target="_blank"><%= image_tag("CANARIE_h-300x96.jpg", size: "150x48", alt: "CANARIE logo") %></a>
		</span>	
</footer>