  <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
<footer id="footer" class="container">
	<p class="text-muted">&copy; Moving Stories 2012 - <%= Time.now.strftime("%Y") %> All Rights Reserved</p>
</footer>