<footer id="footer" class="container">
	<p><span class="text-muted">&copy; <a href="http://movingstories.ca">Moving Stories</a> 2012 - <%= Time.now.strftime("%Y") %> All Rights Reserved</span>
	<span class="text-muted credit pull-right">Funding & support by:
		<a href="http://www.siat.sfu.ca" target="_blank"><%= image_tag("logosiat.png", size: "68x32", alt: "SIAT logo") %></a>
		<a href="http://www.sfu.ca" target="_blank"><%= image_tag("logosfu.png", size: "59x32", alt: "SFU logo") %></a>
		<a href="http://www.canarie.ca" target="_blank">CANERIE</a>
		</span>	
</footer>