<footer id="footer" class="container">
	<p><span class="text-muted">&copy; <a href="http://movingstories.ca">Moving Stories</a> 2012 - <%= Time.now.strftime("%Y") %> All Rights Reserved</span>
	<span class="text-muted credit pull-right">Funding &amp; support by:
		<a href="http://www.canarie.ca" target="_blank"><%= image_tag("CANARIE_h-300x96.jpg", size: "300x96", alt: "CANARIE logo") %></a>
		</span>	
</footer>